@charset "UTF-8";
/*@import url() []*;*/
/*(адрес файла) [тип носителей]*/
html {
  width: 100%;
}
body {
  transition-property: background-image, background-color;
  transition-duration: 5s, 15s;
  -moz-transition-duration: 5s, 15s;
  transition-timing-function: linear;
  background-image: url(image/words_texture1965.jpg);
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  font-family: "Period", italic;
  /*max-width: ;
  min-weight: ;
  max-height: ;
  min-height: ;*/ }

body:active {
  background-image: url(image/1489787717160179690.jpg);
  background-color: #8B0000; }

h1 {
  color: #083B91;
  text-align: center; }

img {
  max-width: 100%; }

@media (max-width: 640px) {
  img {
    display: none; } }
@media (max-width: 1000px) {
  #beard {
    display: none; } }
@keyframes annoy {
  0% {
    background-image: none; }
  50% {
    background-image: url(image/morpheus-neo-the-matrix-youtube-red-pill-and-blue-pill-morpheus-pills.jpg); }
  100% {
    background-image: none; } }
@keyframes anxiety {
  0% {
    opacity: 0; }
  10% {
    opacity: .2; }
  20% {
    opacity: .4; }
  30% {
    opacity: .6; }
  40% {
    opacity: .8; }
  50% {
    opacity: 1; }
  60% {
    opacity: .8; }
  70% {
    opacity: .6; }
  80% {
    opacity: .4; }
  90% {
    opacity: .2; }
  100% {
    opacity: 0; } }
#beard {
  position: absolute;
  opacity: 0;
  top: 6.7%;
  left: 45%;
  height: 10em;
  width: 10em;
  animation: anxiety 15s linear;
  animation-delay: 5s;
  animation-iteration-count: 2; }

#beard:hover {
  animation-play-state: paused; }

#rep {
  position: relative;
  width: 80%;
  box-sizing: border-box;
  height: 2500px;
  background-position: center;
  background-image: linear-gradient(LightGrey 33%, DarkGray 66%, LightSlateGray 99%);
  border-radius: 18px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 0px 8px 8px black; }

#buffalo {
  position: absolute;
  left: -60px;
  top: 200px;
  height: 250px;
  width: 250px;
  transition-duration: 1s;
  transition-timing-function: linear; }

#buffalo:hover {
  transform: rotate(30deg); }

#buffalo:active {
  transform: scale(2); }
#three {
    position: absolute;
  left: -10px;
  top: 420px;
  height: 200px;
  width: 180px;
  transform: rotate(-25deg);
  transition-duration: 1s;
  transition-timing-function: linear; 
}
#three:hover {
  transform: rotate(15deg); }

#three:active {
  transform: scale(2); }
#bear {
  position: absolute;
  right: -60px;
  top: 180px;
  height: 250px;
  width: 250px;
  transition-duration: 1s;
  transition-timing-function: linear; }

#bear:hover {
  transform: rotate(-30deg); }

#bear:active {
  transform: scale(2); }

#arctic {
  margin: 30px;
  margin-top: 15%;
  margin-right: 50px;
  border-radius: 10px;
  float: right;
  width: 16.5%;
  height: 15%;
  /*width: 200px;
  height: 300px;*/
  background-image: linear-gradient(to right, DarkSlateGray, #8B008B 25%, #8B008B 75%, DarkSlateGray);
  box-shadow: 5px -3px 3px black;
  transition-duration: 3s;
  transition-timing-function: linear; }

#arctic:hover {
  transform: scaleX(-1); }

#arctic:active {
  transform: scaleY(-1); }

#fox {
  margin: 30px;
  margin-top: 15%;
  margin-left: 50px;
  border-radius: 10px;
  float: left;
  width: 16.5%;
  height: 15%;
  /*width: 200px;
  height: 300px;*/
  box-shadow: 5px -3px 3px black;
  background-image: repeating-radial-gradient(circle, #9400D3 20px, #8B008B 30px, #4B0082 40px, #6A5ACD 50px, #483D8B 60px, #800080 70px, #9400D3 80px);
  transition-duration: 3s;
  transition-timing-function: linear; }

#fox:hover {
  transform: scaleX(-1); }

#fox:active {
  transform: scaleY(-1); }

#vine {
  /*width: 100%;*/
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 2px;
  list-style: none; }

.arm {
    position: relative;
    z-index: 100;
  transition-duration: 2s;
  transition-timing-function: linear;
  /*background-color:#FFF5EE;*/
  /*width: 130px;*/
  width: 7.1em;
  height: 60px;
  float: left;
  border: 2px solid DarkGray;
  box-shadow: 4px -2px 3px black;
  transform-origin: right bottom; }

.arm:hover {
  background: #000; }

#vine li:first-of-type {
  border-radius: 8px 0 0 0; }

#vine li:last-of-type {
  border-radius: 0 8px 0 0; }

#hot li:first-of-type {
  border-radius: 0 0 0 0; }

#hot li:last-of-type {
  border-radius: 0 0 0 0; }

#cold li:first-of-type {
  border-radius: 0 0 0 8px; }

#cold li:last-of-type {
  border-radius: 0 0 8px 0; }

.arm:active {
  transform: rotate(180deg); }

#hot {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2px;
  list-style: none;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.ask {
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: linear;
  /*background-color:#FFF5EE;*/
  /*width: 130px;*/
  width: 7.1em;
  height: 60px;
  float: left;
  border: 2px solid DarkGray;
  box-shadow: 4px -2px 3px black;
  transform-origin: right bottom; }

.ask:hover {
  background: #000; }

.ask:active {
  transform: rotate(360deg); }

#cold {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2px;
  list-style: none;
  margin-top: 0;
  padding-top: 0; }

.water {
  transition-duration: 2s;
  transition-timing-function: linear;
  /*background-color:#FFF5EE;*/
  /*width: 130px;*/
  width: 7.1em;
  height: 60px;
  float: left;
  border: 2px solid DarkGray;
  box-shadow: 4px -2px 3px black;
  transform-origin: left top; }

.water:hover {
  background: #000; }

.water:active {
  transform: rotate(-360deg); }

#tall {
    
  width: 90%;
  margin: 0 7% 0 7%;
}

#vine li:nth-of-type(even) {
  background-color: #FFF5EE; }

#vine li:nth-of-type(odd) {
  background-color: #FFFFE0; }

#hot li:nth-of-type(odd) {
  background-color: #FFF5EE; }

#hot li:nth-of-type(even) {
  background-color: #FFFFE0; }

#cold li:nth-of-type(even) {
  background-color: #FFF5EE; }

#cold li:nth-of-type(odd) {
  background-color: #FFFFE0; }

#do {
  position: absolute;
  display: flex;
  flex: space-around;
  bottom: 0; }

.act {
  width: 4em;
  height: 350px;
  border-radius: 8px;
  /*background-image: linear-gradient( #B0C4DE 0% 10%,#B0E0E6 10% 20%,#ADD8E6 20% 30%,#87CEEB 30% 40%,#87CEFA 40% 50%,#00BFFF 50% 60%,#1E90FF 60% 70%,#6495ED 70% 80%,#4169E1 80% 90%,#0000FF 90% 100%);*/
  box-shadow: 2px -2px 3px black;
  transition: 0.5s linear;
  position: relative;
  border: solid 2px;
  background-color: white;
  transform-origin: right bottom; }

.act:hover {
  /*transform: translateY(1000px);*/
  /*background-image: radial-gradient(#DDA0DD 0% 10%,#EE82EE 10% 20%,#EE82EE 20% 30%,#FF00FF 30% 40%,#FF00FF 40% 50%,#BA55D3 50% 60%,#9370DB 60% 70%,#8A2BE2 70% 80%,#9400D3 80% 90%,#9932CC 90% 100%);*/ }

.act:active {
  /*background-color: darkred;*/
  transform: scale(0.95); }

.fire {
  box-shadow: 2px -2px 3px black;
  border-radius: 8px 8px 8px 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 55%;
  height: 60%;
  background-color: black;
  transform-origin: right bottom;
  transition: 1s linear;
  flex: 0 1 auto;
  /* по умолчанию */ }

.fire:active {
  /*background-color: darkred;*/
  transform: scale(0.9); }

.job {
  box-shadow: 2px -2px 3px black;
  border-radius: 8px 0 0 8px;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 15%;
  background-color: black;
  position: absolute; }

h2 {
  box-shadow: 2px -2px 3px black;
  border-radius: 5px;
  border: solid black;
  margin: auto;
  padding: 0;
  position: static;
  width: 25%;
  height: 10em;
  background-color: black;
  color: white;
  font-family: italic;
  text-align: center; }

#ferrum {
z-index: 100;
position: absolute;
width: 45%;
height: 38%;
opacity: 0; 
animation: oink 20s 10s linear;
}

@keyframes oink {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}
h1 {
  padding-top: .5em;
animation: link 3s linear infinite;
color: black;

}
h1::selection {
  background-color: black;
  color:white;

}
h2::selection {
  background-color: white;
  color:black;
}

@keyframes link {
    0% {color: black;}
    33% {color: yellow;}
    66% {color: white;}
    100% {color: black;}
}
#dino {
  position: absolute;
  width: 13%;
  height: 31%;
  top: 0;
  left: 10%;
}
#dusk {
   width: 20em;
   height: 3em;
   font-size: 0.9em;
}

#dawn {
   padding-left: 6px;
   width: 20em;
   height: 3em;
   font-size: 0.9em;
}
#crisis {
  position: absolute;
  width: 13%;
  height: 31%;
  top: -2%;
  left: 80%;
}
#login {
  width: 200px;
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 100;
  background-color: darkgray;
  border-radius: 0 0 5px 5px;
}

#login a {
  text-decoration: none;
}

#open {
  margin: 0;
  cursor: pointer;
  background-image:  url(image/open.png);
  background-repeat: no-repeat;
  background-position:  8px 7px;
  color: white;
  padding: 5px 0 5px 30px;
  border-radius: 0 0 5px 5px;
}

#login .close {
  background-image: url(image/close.png);
}

#open:hover {
  color: rgb(0,0,0);
  background-color: rgb(200,200,200); 
}

#login form {
  padding: 10px 10px 0 10px;
  display: none;  
}
#login label {
  font-size: .75em;
  color: white;
  font-weight: bold;
  width: 100px;
  text-align:right;
  margin: 0 15px 0 0;
  display: inline-block;
}
#login input[type="text"] {
  font-size: 14px;
  width: 140px; 
}
#login .button {
  text-align: right;  
  padding-right: 15px;
}
/*# sourceMappingURL=styles.css.map */
