body {
  position: relative;
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #191970;
  background-color: #808080;
  background-image: url("img/drakon_peshchera_svet_art_94937_2308x1417.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}
a {
  text-decoration: none;
}
.container {

  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0 32px;
  color: #ffd700;
}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-left: 56px;
  color: #ffd700;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

.hero-image {
  margin-bottom: 620px;
  color: ff4500;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
  color: #c0c0c0;


}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}


.intro {
  margin: 0 0 120px;
  background-image: url("img/stihiya-voda-zemlya-ogon.jpg");
  background-position: 470px 50%;
  background-size: 800px;
  background-repeat: no-repeat;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Snell Roundhand", cursive;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
  color: #bdb76b;

}
.style-text {
  font-family: "Snell Roundhand", cursive;
}

.user-image {
  position: fixed;
  left: 750px;
  margin: 0 0 32px;
  text-align: center;
}



.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list {
  position: absolute;
  left: 180px;
  bottom: 650px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #808080;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #000080;
  color: #c0c0c0;
  background-image: url("img/Deadpool-Logo-Wallpaper-On-Wallpaper-Hd-4.jpg"); 
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}
.imagetip span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: absolute;
    left: 270px;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #333; 
    border-radius: 5px;
    width: 20%;
    z-index: 9999;
}
.imagetip:hover span{
visibility: visible;
}
.tooltip span{
border-radius: 5px 5px 5px 5px;
visibility: hidden;
position: absolute;
left: 200px;
background: #fff;
box-shadow: -2px 2px 10px -1px #333;
border-radius: 5px;
}  
.tooltip:hover span{
visibility: visible;
}
.content {
  border-right: 100px;
  bottom: 0px;
}
.bot {
  border-radius: 90%;
}
.bot1 {
  border-radius: 50%;
}
.bot2 {
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.bot3 {
  position: absolute;
  top: 50px;
  left: 50px;
}